.tree-node-content {
  display: flex;
  .tree-node-label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .tree-node-preview {
    min-width: 140px;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    font-size: 11px !important;

    img {
      width: 30px !important;
    }
  }
}

